---
import Link from '@/components/Link.astro'
import { Badge } from '@/components/ui/badge'
import { useTranslations } from '@/i18n'
import type { Lang } from '@/i18n/types'
import { formatDateByLocale } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
const locale = Astro.currentLocale as Lang
const t = useTranslations(locale);
---

<div
  class="hover:bg-secondary/50 rounded-xl border p-2 transition-colors duration-300 ease-in-out"
>
  <Link
    href={getRelativeLocaleUrl(locale, `/projects/${project.data.link}`) }
    class="flex flex-col sm:flex-row gap-4"
  >
    {
      project.data.image && (
        <div class="max-w-3xs sm:shrink-0">
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={1200}
            height={630}
            class="object-cover rounded-sm"
          />
        </div>
      )
    }
    <div class="grow px-2">
      <div class="flex items-center justify-between">
        <h3 class="mb-1 text-lg font-medium">
          {project.data.name}
        </h3>
        <Badge variant={project.data.isCompleted ? 'default' : 'secondary'}>
          {project.data.isCompleted ? 
            t({en: 'Completed', 'pt-br': 'Concluído'}) : t({en: 'In progress', 'pt-br': 'Em andamento'})}
        </Badge>
      </div>
      <p class="text-muted-foreground mb-2 text-sm">
        {project.data.description}
      </p>
      {
        project.data.startDate && (
          <p class="text-muted-foreground/70 mb-2 flex items-center gap-x-1.5 text-xs">
            <span class="flex items-center gap-x-1.5">
              <Icon name="lucide:calendar" class="size-3" />
              <span>
                {formatDateByLocale(project.data.startDate, locale)}
                {project.data.endDate
                  ? ` → ${formatDateByLocale(project.data.endDate, locale)}`
                  : t({
                      en: ' → Present',
                      'pt-br': ' → Presente',
                    })
                }
              </span>
            </span>
          </p>
        )
      }
      {
        project.data.tags && (
          <div class="flex flex-wrap gap-2">
            {project.data.tags.map((tag: string) => (
              <Badge variant="secondary">{tag}</Badge>
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
