---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import { LOCALES, type Lang } from '@/i18n/types'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag, getProjectsByTag } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'
import { getRelativeLocaleUrl } from 'astro:i18n'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())
  const langs = Object.keys(LOCALES) as Lang[];

  return Promise.all(
    langs.flatMap((lang) =>
      uniqueTags.map(async (tag) => {
        const posts = await getPostsByTag(tag);
        const filteredPosts = posts.filter((post) => post.id.includes(lang))
        const projects = await getProjectsByTag(tag);
        const filteredProjects = projects.filter((project) => project.id.includes(lang))
        return {
          params: { id: tag, lang },
          props: {
            tag,
            filteredPosts,
            filteredProjects
          },
        }
      }),
  ))
}

const locale = Astro.currentLocale as Lang
const { tag, filteredPosts, filteredProjects } = Astro.props
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`Posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
  />
  <Breadcrumbs
    items={[
      { href: getRelativeLocaleUrl(locale, '/tags'), label: 'Tags', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <div class="flex flex-wrap items-center gap-2">
    <h1 class="text-3xl font-medium">Posts/projects tagged with</h1>
    <span
      class="bg-secondary flex items-center gap-x-1 rounded-full px-4 py-2 text-xl font-medium"
    >
      <Icon name="lucide:hash" class="size-6 -translate-x-0.5" />{tag}
    </span>
  </div>

  <ul class="flex flex-col gap-y-4">
    {
      filteredPosts.map((post) => (
        <li>
          <BlogCard entry={post} />
        </li>
      ))
    }
    {
      filteredProjects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</Layout>
