---
import AuthorCard from '@/components/AuthorCard.astro'
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Line from '@/components/line.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors, getPostsByAuthor } from '@/lib/data-utils'

export async function getStaticPaths() {
  const authors = await getAllAuthors()
  return authors.map((author) => ({
    params: { id: author.id },
    props: { author },
  }))
}

const { author } = Astro.props
const authorPosts = await getPostsByAuthor(author.id)
---

<Layout class="max-w-2xl pt-10">
  <PageHead
    slot="head"
    title={`${author.data.name} (Author)`}
    description={author.data.bio || `Profile of ${author.data.name}.`}
  />
  
  <Line 
    direction="vertical"
    class='fixed top-0 right-4 md:right-[calc(50%-42rem/2)]'
  />
  <Line
    direction="vertical"
    class='fixed top-0 left-4 md:left-[calc(50%-42rem/2)]'
  />
  <section class="relative px-8 md:px-4 space-y-4">
    <Breadcrumbs
      items={[
        { href: '/authors', label: 'Authors', icon: 'lucide:users' },
        { label: author.data.name, icon: 'lucide:user' },
      ]}
    />
    <AuthorCard author={author} />
  </section>
  <section class="flex flex-col mt-10">
    <div class="relative px-8 p-4 md:p-4 md:px-4">
      <Line 
        direction="horizontal"
        class="absolute top-0 left-1/2"
      />
      <h2 class="font-medium text-muted-foreground text-sm">Posts by {author.data.name}</h2>
      <Line 
        direction="horizontal"
        class="absolute bottom-0 left-1/2"
      />
    </div>
    {
      authorPosts.length > 0 ? (
        <ul class="flex flex-col gap-4 px-4 md:px-0">
          {authorPosts
            .filter((post) => !post.data.draft)
            .map((post) => (
              <li>
                <BlogCard entry={post} />
              </li>
            ))}
        </ul>
      ) : (
        <p class="text-muted-foreground">
          No posts available from this author.
        </p>
      )
    }
  </section>
</Layout>
