---
import BlogCard from '@/components/BlogCard.astro'
import CraftCard from '@/components/CraftCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import { Badge } from '@/components/ui/badge'
import { Button, buttonVariants } from '@/components/ui/button'
import { Separator } from '@/components/ui/separator'
import { SITE, TECHSTACK } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentCrafts, getRecentPosts, getRecentProjects } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

const projects = await getRecentProjects(SITE.featuredPostCount)
const crafts = await getRecentCrafts(SITE.featuredCraftCount)
const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl pt-12">
  <PageHead slot="head" title="Home" />
  <section>
    <div
      class="flex flex-col gap-2 sm:gap-4"
    >
      <div class="flex items-center gap-x-4">
        <div class="size-12 overflow-hidden rounded-md border shadow-sm">
          <img
            src="/obito.jpg"
            alt="Avatar of Cristhian"
            class="h-full w-full object-cover"
          />
        </div>
        <div class="flex flex-col">
          <h3 class="text-lg leading-none font-medium">Cristhian</h3>
          <p class="text-muted-foreground text-sm">
            Front-end developer
          </p>
        </div>
      </div>
      <p class="text-muted-foreground text-sm text-balance">
        I'm currently focused on building solid, accessible, and maintainable
        interfaces. I have the most experience with React, TypeScript, and the
        modern web stack, but I'm always up for learning whatever's needed to
        solve things properly.
      </p>
      <div class="mt-3 flex items-center gap-x-2.5">
        <Button variant="outline" disabled>
          Resume
          <Icon name="lucide:file-text" class="size-4" />
        </Button>
        <Link
          href="https://github.com/cristhian-fs"
          class={buttonVariants({ variant: 'ghost' })}
          external
        >
          <span class="sr-only">Github</span>
          <Icon name="lucide:github" class="size-4" />
        </Link>
        <Link
          href="mailto:contato@cristhianf.dev"
          class={buttonVariants({ variant: 'ghost' })}
          external
        >
          <span class="sr-only">Mail</span>
          <Icon name="lucide:mail" class="size-4" />
        </Link>
        <Link
          href="linkeding.com/in/cristhian-fs"
          class={buttonVariants({ variant: 'ghost' })}
          external
        >
          <span class="sr-only">Linkedin</span>
          <Icon name="lucide:linkedin" class="size-4" />
        </Link>
      </div>
    </div>
    <Separator className="my-10"/>
    <div class="flex flex-col gap-y-2.5">
      <h3 class="text-base font-medium">Techs that I use</h3>
      <div class="flex flex-wrap items-center justify-start gap-2 max-w-lg">
        {
          TECHSTACK.map((tech) =>
            tech.href ? (
              <Link href={tech.href} external>
                <Badge variant="outline">
                  <Icon name={tech.icon} class="size-4" />
                  {tech.name}
                </Badge>
              </Link>
            ) : (
              <Badge variant="outline">
                <Icon name={tech.icon} class="size-4" />
                {tech.name}
              </Badge>
            ),
          )
        }
      </div>
    </div>
  </section>
  <section class="mt-16 flex flex-col gap-y-4">
    <h2 class="font-medium">Projects</h2>
    <ul class="flex flex-col gap-4">
      {
        projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/projects"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all projects
        <span class="ml-1.5 transition-transform group-hover:translate-x-1">
          &rarr;
        </span>
      </Link>
    </div>
  </section>
  <section class="mt-16 flex flex-col gap-y-4">
    <h2 class="font-medium">Craft</h2>
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {
        crafts.map((craft) => (
          <li>
            <CraftCard entry={craft} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/craft"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all
        <span class="ml-1.5 transition-transform group-hover:translate-x-1">
          &rarr;
        </span>
      </Link>
    </div>
  </section>
  <section class="mt-16 flex flex-col gap-y-4">
    <h2 class="text-xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>